@use 'variables';
@use 'index';

body {
  font-family: variables.$font-family-main;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.2rem;
}

// Increase icon size in buttons
.v-btn .v-icon {
  --v-icon-size-multiplier: 1;
}

// Set border radius in images inside cards
.v-card .v-img {
  border-radius: 4px;
}